body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1603468620905-8de7d86b781e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
  background-position: center;
  backdrop-filter: blur(7px);
  background-size: cover;
  background-attachment: fixed;
}
// .containerForBG {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//     url(https://images.unsplash.com/photo-1603468620905-8de7d86b781e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
//   background-position: center;
//   backdrop-filter: blur(15px);
//   background-size: cover;
//   background-attachment: fixed;
// }
// BG Video
.nav-bg {
  background-color: #0f0f41;
}
// .bg-video {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
// }
// @media (min-aspect-ratio: 16/9) {
//   .bg-video {
//     width: 100%;
//     height: auto;
//   }
// }
// @media (max-aspect-ratio: 16/9) {
//   .bg-video {
//     width: auto;
//     height: 100%;
//   }
// }

#title {
  // background-color: #0f0f41;
  color: #fff;
  padding: 30px 0 110px 0;
  background-color: #0f0f41;
}
#title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

// navigation-bar

.navbar {
  padding: 0 0 1rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 15%;
}

#nav-ul {
  margin-left: 450px;
}

.nav-item {
  padding: 0 15px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #fff;
}

// Download-Button

.download-button {
  margin: 5% 3% 5% 0;
}

// title-image
.title {
  margin-top: 5rem;
  height: 400px;
}
.title-img {
  width: 25%;
  position: absolute;
  right: 15%;
}
.title-img::after {
  content: "CoDem";
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

p {
  color: #fff;
}

#features {
  padding: 7% 15%;
  position: relative;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #fff;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0f0f41;
}

// Testimonial

#testimonials {
  text-align: center;
  background-color: #0f0f41;
  color: #fff;
}

.testimonial-image {
  width: 10%;

  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #0f0f41;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

// about

#about {
  padding: 100px;
  text-align: center;
  align-items: center;
}
.about-column {
  padding: 3% 2%;
}

.about-img {
  margin-bottom: 5px;
  width: 98%;
}

// cta asection

#cta {
  background-color: #0f0f41;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.features__heading {
  color: #ccc;
}
.cta-heading {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

// Contact
.contact-us {
  width: 80%;
  margin: 100px auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  width: 20px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-img {
  margin-right: 10px;
  color: rgb(212, 212, 212);
}
.contact-img:hover {
  color: #fff;
}

// footer
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #0f0f41;
}
.social-icon {
  margin: 20px 10px;
  color: rgb(129, 129, 129);
  cursor: pointer;
}
.social-icon:hover {
  color: #fff;
}
.Copyright {
  color: rgb(129, 129, 129);
}
.Copyright:hover {
  color: #fff;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
    height: 800px;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
